
/*the maincontainer simple holds the size of the card and all the elements.*/




.maincontainer{
    
    float: left;/* to get div side by side you must add float left the both divs in css in this case maincard and maincard2*/
    margin:4%; /* this margin will make separation between them*/
    position: relative;
    width: 250px;
    height:320px;
  /*  background: green;*/
}
/* the card elements hold the two front and back elements ans also controlse the mouse hover action;*/
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  /*  background: yellow;*/
}
.thecard:hover{ /*this controles the flip*/
    transform: rotateY(180deg);
}
.thefront{    /*shows the default front face*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;/* this controle the reverse side of the the flip  if both are kept visible will conflict the effect*/
    background: yellow;
     color: rgb(27, 14, 14);
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     border-radius: 20px;/* this will not style the back you cant style them individuali*/
     font-size: 30px;
    font-weight: bold;
}
.theback{    /*the back element is the reverse side of the card and shows when a user hover over the card*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: green;
     color: white;
     transform: rotateY(180deg);
}




/*part two*/


/*the maincontainer simple holds the size of the card and all the elements.*/




.maincontainer2{
    
    float: left;
    margin: 4%;
    position: relative;
    width: 250px;
    height:320px;
  /*  background: green;*/
}
/* the card elements hold the two front and back elements ans also controlse the mouse hover action;*/
.thecard2{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  /*  background: yellow;*/
}
.thecard2:hover{ /*this controles the flip*/
    transform: rotateY(180deg);
}
.thefront2{    /*shows the default front face*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;/* this controle the reverse side of the the flip  if both are kept visible will conflict the effect*/
    background: yellow;
     color: rgb(27, 14, 14);
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     border-radius: 20px;/* this will not style the back you cant style them individuali*/
     font-size: 30px;
    font-weight: bold;
}
.theback2{    /*the back element is the reverse side of the card and shows when a user hover over the card*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: green;
     color: white;
     transform: rotateY(180deg);
}






